aio-pika==6.7.1
aiormq==3.3.1
appdirs==1.4.4
argcomplete==1.12.3
asn1crypto==1.5.1
beepy==1.0.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.1
coincurve==13.0.0
cryptography==3.4.7
cytoolz==0.11.2
distlib==0.3.2
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-typing==2.3.0
eth-utils==1.10.0
filelock==3.0.12
iconsdk==2.0.0
idna==2.10
m3u8downloader==0.10.1
multidict==6.0.2
multipledispatch==0.6.0
oauthlib==3.2.0
packaging==20.9
pamqp==2.3.0
pika==1.1.0
pipenv==2021.5.29
pipx==0.16.3
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.14.1
pyparsing==2.4.7
requests==2.27.1
requests-mock==1.8.0
requests-oauthlib==1.3.1
setproctitle==1.1.10
simpleaudio==1.0.4
six==1.15.0
toolz==0.11.2
tweepy==4.8.0
urllib3==1.26.6
userpath==1.6.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
wells==1.5.0
yarl==1.7.2
